html,body{
height: 100%;
}
body{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color:#222;
    font-family: Lato,sans-serif;
    margin:0;
    font-size: 0.9em;
}
main{
    flex:1 0 auto;
    display:flex;
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
    right:0;
    width:100%;
    flex:0 0 90px;
    padding:10px;
    display:flex;
    color: #fff;
    background-color: rgba(61, 100, 158, 0.9);
}
aside{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:40px;
    flex:0 0 60px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;    
    background-color: #f2f2f2;;
}
.content{
    margin-left: 40px;
    margin-bottom: 90px;
    display: flex;
    flex:1 1 auto;
    flex-direction: column;
}
.music-head{
    flex:0 0 280px;
    padding: 40px;
    display: flex;
    background-color: #4e4e4e;;
}
.music-list{
    flex:1 0 auto;
    list-style-type: none;
    padding:5px 10px 0px;
}
li{
    display: flex;
    padding: 0 20px;
    min-height: 50px;
}
li p{
    flex:0 0 25%;
}

li span.catty-cloud{
    border:1px solid black;
    font-size: 0.7em;
    padding:3px;
}
li:nth-child(2n){
    background-color: #f2f2f2;
}
.catty-music{
    flex:1 1 auto;
    display:flex;
    flex-direction:column;
    font-weight:300;
    color:#fff;
    padding-left: 50px;
}
.catty-music div:nth-child(1){
    margin-bottom: auto;
}
.catty-music div:nth-child(2){
    margin-top: 0;
}
.catty-music  div:nth-child(2) i.fa{
font-size: 0.9em;
padding: 0 0.7em;
font-weight: 300px;
}
.catty-music div:nth-child(1) p:first-child{
    font-size: 1.8em;
    margin:0 0 10px;
}
.catty-music div:nth-child(1) p:not(:first-child){
    font-size: 0.9em;
    margin: 2px 0;
}
.song-description{
flex:0 0 50%;
font-family: Lato,sans-serif;
text-align: center;
font-size: 1.3em;
letter-spacing:3px;
line-height: 0.3em;
padding-top:18px;
}

.song-control{
flex:0 0 50%;
display:flex;
justify-content: space-around;
align-items: center;
}